.site-intro {
  @include flex-display(center, center, column);
  overflow: hidden;
  text-align: center;
}

.site-intro .quote-content,
.site-intro .quote-author {
  direction: ltr;
}

.site-intro .quote-author,
.site-intro .quote-reason {
  max-width: 620px;

  margin: 2rem auto 3rem;

  text-decoration: none;

  color: $text-color;

  @media (max-width: $default-mobile-viewport) {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.site-intro .quote-reason {
  font: 400 1.5rem/2.3rem $font;
}

.site-intro .quote-author {
  font: 400 1.5rem/2.3rem $font-en;
}

.site-intro .quote-author {
  cursor: pointer;
}

.site-intro .quote-author:hover {
  color: $link-hover;
}

.dark-mode .site-intro .quote-author:hover {
  color: $link;
}

.site-intro .quote-content,
.site-intro .quote-error {
  width: 80%;
  max-width: 20.5em;
  margin: 0.75em auto 0;
  color: $heading-color;

  @media (max-width: $default-mobile-viewport) {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-top: 0;
    width: calc(100% - 8rem);
  }
}

.site-intro .quote-content {
  font: 400 3.6rem/4.4rem $font-en;

  @media (max-width: $default-mobile-viewport) {
    font-size: 2.4rem;
    line-height: 3rem;

    margin-top: 0;

    width: calc(100% - 8rem);
  }

  @media (max-width: $small-mobile-viewport) {
    width: 75%;
  }
}

.site-intro .quote-error {
  font: 400 3.6rem/4.4rem $font;

  @media (max-width: $default-mobile-viewport) {
    font-size: 2.4rem;
    line-height: 3rem;

    margin-top: 0;

    width: calc(100% - 8rem);
  }

  @media (max-width: $small-mobile-viewport) {
    width: 75%;
  }
}

.site-intro .quote-content.max-width-none {
  max-width: unset;
}

.site-intro button.info.icon {
  top: auto;
  bottom: 2rem;
  position: absolute;
  z-index: 3;
}

html[dir='ltr'] .site-intro button.info.icon {
  right: 2rem;
  left: auto;
}

html[dir='rtl'] .site-intro button.info.icon {
  left: 2rem;
  right: auto;
}

.site-intro /deep/ .modal .content .information .info-title {
  font: 400 3.6rem/4.4rem $font;
  color: $heading-color;
  margin-bottom: 2rem;
  padding: 0 20%;
}

html[dir='ltr'] .site-intro /deep/ .modal .content .information .info-title {
  text-align: left;
}

html[dir='rtl'] .site-intro /deep/ .modal .content .information .info-title {
  text-align: right;
}

@media (max-width: $default-mobile-viewport) {
  .site-intro /deep/ .modal .content .information .info-title {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: $small-mobile-viewport) {
  .site-intro /deep/ .modal .content .information .info-title {
    padding: 0 5%;
  }
}

.site-intro /deep/ .modal .content .information .scroll-wrapper {
  overflow: auto;

  margin: 0 auto;

  height: calc(100% - 16rem);
  width: 60%;

  scrollbar-color: $scrollbar-color transparent;
  scrollbar-width: thin;

  &::-webkit {
    &-scrollbar {
      background: transparent;

      width: 7.5px;
    }
    &-scrollbar-thumb {
      background: $scrollbar-color;
    }
  }
}

@media (max-width: 768px) {
  .site-intro /deep/ .modal .content .information .scroll-wrapper {
    width: 100%;
    padding: 0 20%;
    margin: 0;
  }
}

@media (max-width: 610px) {
  html[dir='ltr']
    .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper {
    padding: 0 0 0 20%;
  }

  html[dir='rtl']
    .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper {
    padding: 0 20% 0 0;
  }
}

@media (max-width: $small-mobile-viewport) {
  html[dir='ltr']
    .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper {
    padding: 0 0 0 5%;
  }

  html[dir='rtl']
    .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper {
    padding: 0 5% 0 0;
  }

  .site-intro /deep/ .modal .content .information .scroll-wrapper {
    height: calc(100% - 20rem);
    width: 100%;
    margin: 0 auto;
  }
}

.site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

html[dir='ltr']
  .site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content {
  padding-right: 20px;
}

html[dir='rtl']
  .site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content {
  padding-left: 20px;
}

.site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-description,
.site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-ps {
  margin-bottom: 2rem;
  color: $text-color;
}

.site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-description {
  font: 400 1.5rem/2.3rem $font;
}

.site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-ps {
  font: 400 1.2rem/1.8rem $font;
}

html[dir='ltr']
  .site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-description,
html[dir='ltr']
  .site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-ps {
  padding-right: 2em;
  text-align: left;
}

html[dir='rtl']
  .site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-description,
html[dir='rtl']
  .site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-ps {
  padding-left: 2em;
  text-align: right;
}

.site-intro
  /deep/
  .modal
  .content
  .information
  .scroll-wrapper
  .scroll-content
  .info-ps
  a {
  color: $button;
}

@media (max-width: $default-mobile-viewport) {
  .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper
    .scroll-content
    .info-description {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper
    .scroll-content
    .info-ps {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
}

@media (max-width: $small-mobile-viewport) {
  .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper
    .scroll-content
    .info-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .site-intro
    /deep/
    .modal
    .content
    .information
    .scroll-wrapper
    .scroll-content
    .info-ps {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.site-intro /deep/ .modal .content .information .close {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
