@mixin flex-display(
  $alignItems: initial,
  $justifyContent: initial,
  $flexDirection: inherit,
  $flex: null
) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
  flex: $flex;
}
