@mixin flex-display(
  $alignItems: null,
  $justifyContent: null,
  $flexDirection: null,
  $flex: null,
  $gap: null
) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
  flex: $flex;
  gap: $gap;
}
