// Fonts
$font: var(--font);
$font-en: var(--font-en);
$font-fa: var(--font-fa);

//Colors
$background-color: var(--background-color);
$background-color-secondary: var(--background-color-secondary);
$text-color: var(--text-color);
$heading-color: var(--heading-color);
$link: var(--link);
$link-hover: var(--link-hover);
$button: var(--button);
$button-hover: var(--button-hover);
$disabled-button-text: var(--disabled-button-text);
$button-text: var(--button-text);
$button-icon: var(--button-icon);
$button-icon-hover: var(--button-icon-hover);
$footer-color: var(--footer-color);
$border-color: var(--border-color);
$mask: var(--mask);
$light-glow: var(--light-glow);
$settings-default: var(--settings-default);
$settings-pillar-activated: var(--settings-pillar-activated);
$logo-color: var(--logo-color);
$logo-linkedin: var(--logo-linkedin);
$logo-npm: var(--logo-npm);
$logo-stackoverflow-stack: var(--logo-stackoverflow-stack);
$banner-bg: var(--banner-bg);
$banner-button: var(--banner-button);
$scrollbar-color: var(--scrollbar-color);
$scrollbar-background-color: var(--scrollbar-background-color);
$about-pillar-color: var(--about-pillar-color);
$npm-pillar-color: var(--npm-pillar-color);
$interactive-pillar-color: var(--interactive-pillar-color);
$contribution-pillar-color: var(--contribution-pillar-color);
$box-shadow: var(--box-shadow);

//Media sizes
$small-mobile-viewport: 480px;
$default-mobile-viewport: 767px;
$default-tablet-viewport: 920px;
$large-tablet-viewport: 1023px;

$container-max-size: 1440px;
