$font: Google Sans, sans-serif, 'Quicksand', 'Source Sans Pro', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
$font-size-p-medium: 1rem;
$main-color: #1b2a41;
$secondary-color: #07393c;
$border-color: #dadff7;
$neutral-color: #acb0bd;
$background-color: #ffffff;
$footer-color: #f8f9fb;
$heading-color: rgba(0, 0, 0, 0.87);
$text-color: rgba(0, 0, 0, 0.67);
$link: #5f6368;
$link-hover: #202124;
