$font: var(--font);
$font-en: var(--font-en);
$font-fa: var(--font-fa);
$background-color: var(--bg);
$background-color-secondary: var(--bg-secondary);
$text-color: var(--text-color);
$heading-color: var(--heading-color);
$link: var(--link-color);
$link-hover: var(--link-hover);
$button: var(--button-color);
$button-hover: var(--button-hover);
$button-text: var(--button-text);
$button-icon: var(--button-icon);
$button-icon-hover: var(--button-icon-hover);
$footer-color: var(--footer-color);
$border-color: var(--border-color);
$mask: var(--mask-color);
$light-glow: var(--light-glow);
$settings-default: var(--settings-default);
$logo-color: var(--logo-color);
$logo-linkedin: var(--logo-linkedin);
$logo-npm: var(--logo-npm);
$logo-stackoverflow-stack: var(--logo-stackoverflow-stack);
$banner-bg: var(--banner-bg);
$banner-button: var(--banner-button);
$scrollbar-color: var(--scrollbar-color);
