.home-page {
  position: absolute;
  transition: color 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 100%;
  width: 100%;
  padding-top: 0;
  padding-bottom: 2rem;
  overflow: hidden;
}

.home-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.home-page .content .header {
  font: 400 3.6rem/4.4rem $font;
  color: $heading-color;
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 23rem;
}

@media (max-width: 1100px) {
  .home-page {
    @include flex-display(center, center, column);
    padding: 6rem 0;
  }

  .home-page .content {
    top: auto;
    left: auto;
    position: relative;
    margin-bottom: 1rem;
    -webkit-transform: none;
    transform: none;
  }

  .home-page .content .header {
    font-size: 2.4rem;
    line-height: 3rem;
    max-width: 15rem;
  }
}

.home-page .content .header .header-part-two {
  display: block;
}

html[dir='ltr'] .home-page .content .header .header-part-two {
  margin-right: -1.5rem;
  text-align: right;
}

html[dir='rtl'] .home-page .content .header .header-part-two {
  margin-left: -2rem;
  text-align: left;
}

.home-page .content .description {
  text-align: center;
  max-width: 35rem;
  color: $text-color;
  font: 400 1.5rem/2.3rem $font;
}

@media (max-width: 1100px) {
  .home-page .content .description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 4rem;
  }

  html[dir='rtl'] .home-page .content .description {
    padding: 0 3rem;
  }
}

.home-page .viewport,
.home-page .draggable {
  height: 100%;
  width: 100%;
}

@media (max-width: 1100px) {
  .home-page .viewport {
    height: auto;
    width: 100%;
    max-width: 23rem;
    margin: 0 auto 2rem;
  }

  .home-page .draggable {
    font-size: 0;
    white-space: nowrap;
  }

  .home-page .draggable div[class*='pillar'] {
    position: relative;
    width: 24rem;
    display: inline-block;
  }

  .home-page .draggable div[class*='pillar']::before {
    content: '';
    display: block;
    padding-top: 116.66667%;
  }
}

.home-page .draggable .pillar-link {
  height: auto;
  width: 60rem;
  z-index: 1;
}

.home-page .draggable .pillar-link.active {
  pointer-events: all;
}

.home-page .draggable .pillar-link .pillar-description .pillar-icon .icon,
.home-page .draggable .pillar-link {
  position: absolute;
  transform: translate(-50%, -50%);
}

.home-page .draggable .pillar-link[data-pillar='about'] {
  width: 50rem;
  top: 25%;
}

html[dir='ltr'] .home-page .draggable .pillar-link[data-pillar='about'] {
  left: 75%;
}

html[dir='rtl'] .home-page .draggable .pillar-link[data-pillar='about'] {
  right: 75%;
}

.home-page .draggable .pillar-link[data-pillar='about'][data-background],
.home-page .draggable .pillar-card[data-pillar='about'][data-background] {
  color: $about-pillar-color;
}

.home-page .draggable .pillar-link[data-pillar='npm'][data-background],
.home-page .draggable .pillar-card[data-pillar='npm'][data-background] {
  color: $npm-pillar-color;
}

.home-page .draggable .pillar-link[data-pillar='interactive'][data-background],
.home-page .draggable .pillar-card[data-pillar='interactive'][data-background] {
  color: $interactive-pillar-color;
}

.home-page .draggable .pillar-link[data-pillar='contribution'][data-background],
.home-page
  .draggable
  .pillar-card[data-pillar='contribution'][data-background] {
  color: $contribution-pillar-color;
}

.home-page .draggable .pillar-link .pillar-description {
  @include flex-display(center, center, column);
  position: absolute;
}

.home-page .draggable .pillar-link[data-pillar='about'] .pillar-description,
.home-page
  .draggable
  .pillar-link[data-pillar='contribution']
  .pillar-description {
  top: calc(50% - 4rem);
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='about']
  .pillar-description,
html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='contribution']
  .pillar-description {
  left: calc(30% + 10rem);
}

html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='about']
  .pillar-description,
html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='contribution']
  .pillar-description {
  right: calc(-65% + 10rem);
}

.home-page .draggable .pillar-link[data-pillar='interactive'] {
  width: 50rem;
  top: 75%;
}

html[dir='ltr'] .home-page .draggable .pillar-link[data-pillar='interactive'] {
  left: 75%;
}

html[dir='rtl'] .home-page .draggable .pillar-link[data-pillar='interactive'] {
  right: 75%;
}

.home-page
  .draggable
  .pillar-link[data-pillar='interactive']
  .pillar-description,
.home-page .draggable .pillar-link[data-pillar='npm'] .pillar-description {
  top: calc(50% - 4rem);
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='interactive']
  .pillar-description,
html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='npm']
  .pillar-description {
  left: calc(10% + 10rem);
}

html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='interactive']
  .pillar-description,
html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='npm']
  .pillar-description {
  right: calc(-85% + 10rem);
}

.home-page .draggable .pillar-link[data-pillar='npm'] {
  width: 50rem;
  top: 20%;
}

html[dir='ltr'] .home-page .draggable .pillar-link[data-pillar='npm'] {
  right: 30%;
}

html[dir='rtl'] .home-page .draggable .pillar-link[data-pillar='npm'] {
  left: 30%;
}

.home-page .draggable .pillar-link[data-pillar='contribution'] {
  width: 50rem;
  top: 80%;
}

html[dir='ltr'] .home-page .draggable .pillar-link[data-pillar='contribution'] {
  right: 35%;
}

html[dir='rtl'] .home-page .draggable .pillar-link[data-pillar='contribution'] {
  left: 45%;
}

.home-page .draggable .pillar-link .pillar-description .pillar-icon {
  height: 8rem;
  width: 8rem;
  display: inline-block;
  position: relative;
}

.fill {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .fill {
  left: 0;
}

html[dir='rtl']
  .home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .fill {
  right: 0;
}

.home-page .draggable .pillar-link .pillar-description .pillar-icon .pulse {
  border: 1px solid;
  border-radius: 50%;
  pointer-events: none;
}

.home-page .draggable .pillar-link .pillar-description .pillar-icon .intro {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  z-index: -2;
  pointer-events: none;
  background-color: currentColor;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .intro
  .mask {
  opacity: 1;
  visibility: inherit;
  background: $background-color;
  border-radius: 50%;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .icon-container {
  background: currentColor;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .icon-container.pillar-active {
  background: $background-color;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .icon-container
  .icon {
  height: 25%;
  width: 25%;
  left: 50%;
  top: 50%;
  color: $heading-color;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-icon
  .icon-container
  .icon
  svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: visible;
}

.home-page .draggable .pillar-link .pillar-description .pillar-label {
  position: absolute;
  top: 8rem;
  width: 16rem;
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-label {
  left: 5px;
}

html[dir='rtl']
  .home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-label {
  right: 10px;
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='interactive']
  .pillar-description
  .pillar-label {
  left: -33px;
}

html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='interactive']
  .pillar-description
  .pillar-label {
  right: 2px;
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='npm']
  .pillar-description
  .pillar-label {
  left: -13px;
}

html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='npm']
  .pillar-description
  .pillar-label,
html[dir='rtl']
  .home-page
  .draggable
  .pillar-link[data-pillar='contribution']
  .pillar-description
  .pillar-label {
  right: -10px;
}

html[dir='ltr']
  .home-page
  .draggable
  .pillar-link[data-pillar='contribution']
  .pillar-description
  .pillar-label {
  left: -30px;
}

.home-page .draggable .pillar-link .pillar-description .pillar-label .heading {
  font: 600 1.5rem/1 $font;
  margin-top: 1em;
  color: $heading-color;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-label
  .sub-heading {
  opacity: 0;
  margin-top: 1rem;
}

.home-page
  .draggable
  .pillar-link
  .pillar-description
  .pillar-label
  .description {
  font: 400 1.2rem/1.8rem $font;
  color: $text-color;
}
