@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500,600,700');

@font-face {
  font-family: 'Vazir-Local';
  src: url('~assets/fonts/Vazir/Vazir-FD.eot') format('eot'),
    url('~assets/fonts/Vazir/Vazir-FD.woff') format('woff'),
    url('~assets/fonts/Vazir/Vazir-FD.ttf') format('truetype'),
    url('~assets/fonts/Vazir/Vazir-FD.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir-Bold-Local';
  src: url('~assets/fonts/Vazir/Vazir-Bold-FD.eot') format('eot'),
    url('~assets/fonts/Vazir/Vazir-Bold-FD.woff') format('woff'),
    url('~assets/fonts/Vazir/Vazir-Bold-FD.ttf') format('truetype'),
    url('~assets/fonts/Vazir/Vazir-Bold-FD.woff2') format('woff2');
  font-style: normal;
}

:root {
  --background-color: #ffffff;
  --background-color-secondary: #f3f5f4;
  --text-color: rgba(0, 0, 0, 0.67);
  --heading-color: rgba(0, 0, 0, 0.87);
  --link: #5f6368;
  --link-hover: #202124;
  --button: #1a73e8;
  --button-hover: #4185f4;
  --button-text: #ffffff;
  --button-icon: #f7f7f7;
  --button-icon-hover: #f2f2f2;
  --footer-color: #f8f9fb;
  --border-color: #ddd;
  --mask: rgba(0, 0, 0, 0.1);
  --light-glow: #f0c420;
  --settings-default: #5f6368;
  --settings-pillar-activated: #5f6368;
  --logo-color: rgba(70, 70, 70, 0.75);
  --logo-linkedin: #0077b7;
  --logo-npm: #231f20;
  --logo-stackoverflow-task: #ff9800;
  --logo-stackoverflow-stack: #757575;
  --banner-bg: #5a5a5a;
  --banner-button: #303030;
  --scrollbar-color: #000000;
  --about-pillar-color: #d2e3fc;
  --npm-pillar-color: #f8d2ce;
  --interactive-pillar-color: #ceead6;
  --contribution-pillar-color: #ffefc3;
  --box-shadow: rgba(0, 0, 0, 0.06);
  --font: Google Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriff;
  --font-en: Google Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriff;
  --font-fa: 'Vazir-Local', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-seriff;
}

.dark-mode {
  --background-color: #091a28;
  --background-color-secondary: #071521;
  --text-color: rgba(255, 255, 255, 0.5);
  --heading-color: rgba(255, 255, 255, 1);
  --link: #fdf9f3;
  --link-hover: #41b38a;
  --button: #158876;
  --button-hover: #41b38a;
  --footer-color: #071521;
  --mask: rgba(255, 255, 255, 0.1);
  --logo-color: rgba(255, 255, 255, 1);
  --scrollbar-color: #ffffff;
  --settings-pillar-activated: #f3f5f4;
  --about-pillar-color: #2f4c58;
  --npm-pillar-color: #721817;
  --interactive-pillar-color: #0b6e4f;
  --contribution-pillar-color: #f18805;
  --box-shadow: rgba(255, 255, 255, 0.06);
}

html[dir='rtl'] {
  --font: 'Vazir-Local', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriff;
}

html {
  font-size: 10px;
  line-height: 1.15;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html[dir='rtl'] body {
  direction: rtl;
}

body {
  background-color: $background-color;
  transition: background-color 0.3s;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

[aria-hidden='true'] {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

a {
  background-color: transparent;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
a.button {
  border-radius: 0;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.heading-01 {
  font: 600 3.3rem/2.6rem $font;
  color: $heading-color;
}

.heading-04 {
  font: 400 1.8rem/2.6rem $font;
  color: $heading-color;
}

.des-01 {
  font: 400 1.5rem/2.3rem $font;
  color: $text-color;
}

@media (max-width: 767px) {
  .heading-04 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .des-01 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
}

.svg-container {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.pending {
  @include flex-display(center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-color;
}

.pending svg {
  width: 15rem;
  fill: $heading-color;
}

.container > div[class*='site-']:not(.site-header, .site-footer) {
  height: 100%;
  width: 100%;
  min-height: 68rem;
  position: relative;
}
